
<div class="container">



  <div class="d-flex align-items-center gap-2">
    <div class="col bg-success text-white m-2 p-2">Gestor de Creaturas</div>
    <div class="dropdown">
        <button class="btn btn-primary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
          Menú
        </button>
        <ul class="dropdown-menu">
          <li>
            <button class="dropdown-item" type="button">Nueva Creatura</button>
          </li>
          <li>
            <button class="dropdown-item" type="button">Importar Creatura</button>
          </li>
        </ul>
      </div>
  </div>
  <div class="container bg-dark">
      <div class="row row-custom align-items-start">
          <div class="col-custom bg-primary text-white m-2 p-2">
            
            <figure class="figure">
              <img src="/Lorina.jpg" class="figure-img w-100 h-100 object-fit-contain d-block align-self-start">
              <div class = "bg-sexo">
                <figcaption class="figure-caption d-flex justify-content-between">
                    <div id = "nombreCrea">nombrecreatura</div>
                  <div class="dropdown">
                    <button class="btn btn-primary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                      ...
                    </button>
                    <ul class="dropdown-menu">
                      <li>
                        <button class="dropdown-item" type="button">Modificar Creatura</button>
                      </li>
                      <li>
                        <button class="dropdown-item" type="button">Publicar/Ocultar</button>
                      </li>
                      <li>
                        <button class="dropdown-item" type="button">Exportar</button>
                      </li>
                      <li>
                        <button class="dropdown-item" type="button">Eliminar</button>
                      </li>
                    </ul>
                  </div>
                </figcaption>
                <figcaption class="figure-caption d-flex justify-content">
                    <div class = "tipo bg-danger">
                      <div id="tipo1">tipo1</div>
                    </div>
                    <div class = "tipo bg-secondary">
                      <div id = "tipo2">tipo2</div>
                    </div>
                </figcaption>
                <figcaption class="figure-caption d-flex justify-content">
                    Creador:
                    <div id = "creador">nombrecreador</div>
                </figcaption>
                
              </div>
             
            
            </figure>
            

            
          </div>
          <div class="col-custom bg-secondary text-white m-2 p-2">Elemento 2</div>
          <div class="col-custom bg-success text-white m-2 p-2">Elemento 3</div>
          <div class="col-custom bg-danger text-white m-2 p-2">Elemento 4</div>
          <div class="col-custom bg-warning text-dark m-2 p-2">Elemento 5</div>
          <div class="col-custom bg-info text-white m-2 p-2">Elemento 6</div>
        </div>

  </div>

  </div>