
<div class="container">



  <div class="d-flex align-items-center gap-2">
    <div class="col bg-success text-white m-2 p-2">Gestor de Creaturas</div>
    <div class="dropdown">
        <button class="btn btn-primary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
          Menú
        </button>
        <ul class="dropdown-menu">
          <li>
            <button class="dropdown-item" type="button">Nueva Creatura</button>
          </li>
          <li>
            <button class="dropdown-item" type="button">Importar Creatura</button>
          </li>

          <a class="nav-link" routerLink="listadoCreatura">
          <li>
            <button class="dropdown-item" type="button">Listar Creatura</button>
          </li>
          </a>

          
        </ul>
      </div>
  </div>
 <app-listado-creatura></app-listado-creatura>