
<app-barra-gestor-creatura></app-barra-gestor-creatura>
<div *ngIf = "usuarioActual">
<!-- BARRA DE MODIFIACION DE CREATURA-->
  <div class="cont-mini-titular"> 
    <div class="mini-titular">
        <div>Modificar Creatura</div>
        <div class="ms-auto d-flex gap-2">
          <button class="btn-titular" type="button" (click) = "genuinaGenuinamenteAgregar()">Confirmar</button>
          <a class="btn-titular" routerLink="/gestorCreatura">Descartar</a>
        </div>
    </div>
  </div>

  <div *ngIf="creatura" [formGroup]="datosCreaturaForm">
    <div class="contenido-creatura">
      <div class="imagen">
        <label for="imegenCreatura">Nueva Imagen de la Creatura:</label>
        <input id="imegenCreatura" type="file" (change)="onFileChange($event)"  accept="image/png, image/jpeg" />
        <img [src]="imagenCreatura" (error)="onImgError($event)" alt="creaturaIMG">
      </div>
      <div class="info-creatura">
        <div class="visibilidad">
          <div>
            <label>Publico <input type="checkbox" formControlName ="publicoToken" name="opcion"></label>
          </div>
        </div>
        <div class="info">
          <label for="nombreCrea">Nombre</label>
          <input type="text" id="nombreCrea" formControlName="nombre" maxlength="30">

          <label for="comentario">Descripción</label>
          <input type="text" id="comentario" formControlName="descripcion" maxlength="200">
        </div>
        <div class="tipos">
          <div>
            <label for="type1">Tipo 1</label>
            <button id="type1" class="dropdown-toggle tipos-agregar" type="button" data-bs-toggle="dropdown"
                aria-expanded="false" [style.backgroundColor]="'#' + creatura.tipo1?.color">
              {{ creatura.tipo1?.nombre_tipo }}
            </button>
            <ul class="dropdown-menu">
              <li *ngFor="let tipo1 of tipos1">
                <button type="button"
                  class="dropdown-item tipos-desplegados"
                  [style.backgroundColor]="'#' + tipo1.color"
                  (click)="seleccionarTipo1(tipo1)">
                  {{ tipo1.nombre_tipo }}
                </button>
              </li>
            </ul>
          </div>
          <div>
            <label for="type2">Tipo 2</label>
            <button id="type2" class="dropdown-toggle tipos-agregar" type="button" data-bs-toggle="dropdown"
                aria-expanded="false" [style.backgroundColor]="'#' + creatura.tipo2?.color">
              {{ creatura.tipo2?.nombre_tipo }}
            </button>
            <ul class="dropdown-menu">
              <li *ngFor="let tipo2 of tipos2">
                <button type="button"
                  class="dropdown-item tipos-desplegados"
                  [style.backgroundColor]="'#' + tipo2.color"
                  (click)="seleccionarTipo2(tipo2)">
                  {{ tipo2.nombre_tipo }}
                </button>
              </li>
            </ul>
          </div>
        </div>
        <div class="stats">
          <div>
            <label for="statHp">HP</label>
            <input id="statHp" formControlName="hp" (input)="validarRango($event)" type="number" min="1" max="255">
          </div>
          <input class="barra-stat" type="range" formControlName="hp" (input)="validarRango($event)" min="1" max="255">

          <div>
            <label for="statAtk">ATK</label>
            <input id="statAtk" formControlName="atk" (input)="validarRango($event)" type="number" min="1" max="255">
          </div>
          <input class="barra-stat" type="range" formControlName="atk" (input)="validarRango($event)" min="1" max="255">

          <div>
            <label for="statDef">DEF</label>
            <input id="statDef" formControlName="def" (input)="validarRango($event)" type="number" min="1" max="255">
          </div>
          <input class="barra-stat" type="range" formControlName="def" (input)="validarRango($event)" min="1" max="255">

          <div>
            <label for="statSatk">SPA</label>
            <input id="statSatk" formControlName="satk" (input)="validarRango($event)" type="number" min="1" max="255">
          </div>
          <input class="barra-stat" type="range" formControlName="satk" (input)="validarRango($event)" min="1" max="255">

          <div>
            <label for="statSdef">SDEF</label>
            <input id="statSdef" formControlName="sdef" (input)="validarRango($event)" type="number" min="1" max="255">
          </div>
          <input class="barra-stat" type="range" formControlName="sdef" (input)="validarRango($event)" min="1" max="255">

          <div>
            <label for="statSpe">SPE</label>
            <input id="statSpe" formControlName="spe" (input)="validarRango($event)" type="number" min="1" max="255">
          </div>
          <input class="barra-stat" type="range" formControlName="spe" (input)="validarRango($event)" min="1" max="255">
        </div>
        
      </div>
    </div>


    <div class="cont-mini-titular"> 
      <div class="mini-titular">
          <div>Interacciones Defensivas</div>
      </div>
    </div>

      <div class="defensas">
      @if(calculoDefMuyEff && calculoDefMuyEff.length > 0){
        <h3>Muy débil (x4)</h3>
        <div class="multiplicador">
          @for(tipo of calculoDefMuyEff; track $index){
            <div [style.backgroundColor]="'#' + tipo.color">
              <img [src]="tipo.icono" class = "tipos-img">
              {{ tipo.nombre_tipo }}</div>
          }
        </div>
      }
      @if(calculoDefEff && calculoDefEff.length > 0){
        <h3>Débil (x2)</h3>
        <div class="multiplicador">
          @for(tipo of calculoDefEff; track $index){
            <div [style.backgroundColor]="'#' + tipo.color">
              <img [src]="tipo.icono" class = "tipos-img">
              {{ tipo.nombre_tipo }}</div>
          }
        </div>
      }
      @if(calculoDefNeu && calculoDefNeu.length > 0){
        <h3>Neutro (x1)</h3>
        <div class="multiplicador">
          @for(tipo of calculoDefNeu; track $index){
            <div [style.backgroundColor]="'#' + tipo.color">
              <img [src]="tipo.icono">
              {{ tipo.nombre_tipo }}</div>
          }
        </div>
      }
      @if(calculoDefNoEff && calculoDefNoEff.length > 0){
        <h3>Resistente (x0.5)</h3>
        <div class="multiplicador">
          @for(tipo of calculoDefNoEff; track $index){
            <div [style.backgroundColor]="'#' + tipo.color">
              <img [src]="tipo.icono" class = "tipos-img">
              {{ tipo.nombre_tipo }}</div>
          }
        </div>
      }
      @if(calculoDefMuyNoEff && calculoDefMuyNoEff.length > 0){
        <h3>Muy Resistente (x0.25)</h3>
        <div class="multiplicador">
          @for(tipo of calculoDefMuyNoEff; track $index){
            <div [style.backgroundColor]="'#' + tipo.color">
              <img [src]="tipo.icono" class = "tipos-img">
              {{ tipo.nombre_tipo }}</div>
          }
        </div>
      }
      @if(calculoDefInmune && calculoDefInmune.length > 0){
        <h3>Inmune (x0)</h3>
        <div class="multiplicador">
          @for(tipo of calculoDefInmune; track $index){
            <div [style.backgroundColor]="'#' + tipo.color">
              <img [src]="tipo.icono" class = "tipos-img">
              {{ tipo.nombre_tipo }}</div>
          }
        </div>
      }
    </div>

    <div class="cont-mini-titular"> 
      <div class="mini-titular">
          <div>Habilidades de la Creatura</div>
      </div>
    </div>

    <div class="cont-pseudo-titular"> 
      <div class="pseudo-titular">
          <div>Habilidades Previamente Seleccionadas</div>
      </div>
    </div>

    <div class="habilidades quitar">
      <table>
        <thead>
          <tr>
            <th>Id</th>
            <th>Nombre</th>
            <th>Tipo</th>
            <th>Potencia</th>
            <th>Descrición</th>
            <th>Categoría</th>
            <th>Acción</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let moveset of movesets">
            <td>{{ moveset.id_habilidad }}</td>
            <td>{{ moveset.nombre_habilidad }}</td>
            <td [style.backgroundColor]="'#' +  moveset.color_tipo_habilidad">{{ moveset.nombre_tipo_habilidad }}</td>
            <td>{{ moveset.potencia }}</td>
            <td>{{ moveset.descripcion }}</td>
            <td>{{ moveset.categoria_habilidad }}</td>
            <td> <button (click)="eliminarHabilidad(moveset)">Eliminar</button> </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
  <div class="cont-pseudo-titular"> 
    <div class="pseudo-titular">
        <div>Habilidades Seleccionables</div>
        <div class="ms-auto d-flex gap-2 align-items-center">
          <label for="filtro">Filtrar Por Tipo</label> 
          <button id="filtro" class="dropdown-toggle btn-titular" type="button" data-bs-toggle="dropdown"
            aria-expanded="false" [style.backgroundColor]="'#' + tipo3.color">
            {{ tipo3.nombre_tipo }}
          </button>
          <ul class="dropdown-menu">
            <li *ngFor="let tipo3 of tipos3">
              <button class="dropdown-item tipos-desplegados" type="button"
                [style.backgroundColor]="'#' + tipo3.color"
                (click)="seleccionartipo3(tipo3)">
                {{ tipo3.nombre_tipo }}
              </button>
            </li>
          </ul>
        </div>
    </div>
  </div>
  <input
    class="busqueda-habilidad"
    type="text"
    placeholder="Buscar habilidad"
    [(ngModel)]="terminoBusqueda"
    (ngModelChange)="filtrarHabilidadesPorTexto()"
  />
  <div class="habilidades agregar">
    <mat-paginator  [length]="puntoLength"
    [pageSize]="8"
    [pageSizeOptions]="[8, 16, 32, 8954]"
    aria-label="Select page"
    (page)="paginar($event)">
    </mat-paginator>
    <table>
      <thead>
        <tr>
          <th>Id</th>
          <th>Nombre</th>
          <th>Tipo</th>
          <th>Potencia</th>
          <th>Descripción</th>
          <th>Categoría</th>
          <th>Acción</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let habilidad of paginadas">
          <td>{{ habilidad.id_habilidad }}</td>
          <td>{{ habilidad.nombre_habilidad }}</td>
          <td [style.backgroundColor]="'#' +  habilidad.color_tipo_habilidad">{{ habilidad.nombre_tipo_habilidad }}</td>
          <td>{{ habilidad.potencia }}</td>
          <td>{{ habilidad.descripcion }}</td>
          <td>{{ habilidad.categoria_habilidad }}</td>
          <td><button (click) = "agregarHabilidad(habilidad)">Agregar</button></td>
        </tr>
        <tr *ngIf="habilidades.length === 0">
          <td colspan="7" class="text-center text-muted">No hay habilidades en el sistema</td>
        </tr>
      </tbody>
    </table>
  </div>

  <div class="cont-pseudo-titular"> 
    <div class="pseudo-titular">
        <div>Habilidades Seleccionadas</div>
        <button class="btn-titular" type="button" (click) = "genuinamenteAgregar()">Confirmar Selección</button>
    </div>
  </div>
  <div class="habilidades quitar">
    <table>
      <thead>
        <tr>
          <th>Id</th>
          <th>Nombre</th>
          <th>Tipo</th>
          <th>Potencia</th>
          <th>Descripción</th>
          <th>Categoría</th>
          <th>Acción</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let habilidadNew of habilidadesNew">
          <td>{{ habilidadNew.id_habilidad }}</td>
          <td>{{ habilidadNew.nombre_habilidad }}</td>
          <td [style.backgroundColor]="'#' +  habilidadNew.color_tipo_habilidad">{{ habilidadNew.nombre_tipo_habilidad }}</td>
          <td>{{ habilidadNew.potencia }}</td>
          <td>{{ habilidadNew.descripcion }}</td>
          <td>{{ habilidadNew.categoria_habilidad }}</td>
          <td> <button (click) = "eliminarHabilidadDeNew(habilidadNew)">Eliminar</button> </td>
        </tr>
        <tr *ngIf="habilidadesNew.length === 0">
          <td colspan="7" class="text-center text-muted">No hay habilidades agregadas</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
<div *ngIf = "!usuarioActual">
  <div>
  <img src="logo.png">
  </div>
 </div>
<app-pie-pagina></app-pie-pagina>