<app-barra-gestor-creatura></app-barra-gestor-creatura>
<div class = "container bg-primary">
 <div class = "row">
    <div class = "col col-Img bg-danger">
       <div class= "contendoorImagen mt-3 mb-3">
        <div class="mb-3">
            <input id="imegenCreatura" type="file" class="form-control" />
        <!--(change)="onFileChange($event)"-->
        </div>
            <img [src]="creatura.imagen" (error)="onImgError($event)" alt="{{ creatura.nombre }}" class="w-100  img-ajustada">
        
         <!--  <img ngSrc="defoult.jpg" fill>-->
    </div>




    </div>
    <div class = "col col-Stats bg-info">
        <div class = "row justify-content-center">
            <div class = "col">
                <div class="d-flex align-items-center gap-2">
                    Nombre: <div class="bg-success text-white m-2 p-2">{{ creatura.nombre_creatura }}</div>
                </div>
            </div>
        </div>
        <div class="row text-center">
            <div class="col d-flex justify-content-center align-items-center">
              <div class="d-flex align-items-center gap-2">
                hp: <div class="bg-success text-white m-2 p-2">{{ creatura.hp }}</div>
              </div>
            </div>
          
            <div class="col d-flex justify-content-center align-items-center">
              <div class="d-flex align-items-center gap-2">
                atk: <div class="bg-danger text-white m-2 p-2">{{ creatura.atk }}</div>
              </div>
            </div>
          
            <div class="col d-flex justify-content-center align-items-center">
              <div class="d-flex align-items-center gap-2">
                def: <div class="bg-primary text-white m-2 p-2">{{ creatura.def }}</div>
              </div>
            </div>
          
            <div class="w-100"></div>
          
            <div class="col d-flex justify-content-center align-items-center">
              <div class="d-flex align-items-center gap-2">
                spa: <div class="bg-spa text-white m-2 p-2">{{ creatura.spa }}</div>
              </div>
            </div>
          
            <div class="col d-flex justify-content-center align-items-center">
              <div class="d-flex align-items-center gap-2">
                sdef: <div class="bg-sdef text-white m-2 p-2">{{ creatura.sdef }}</div>
              </div>
            </div>
          
            <div class="col d-flex justify-content-center align-items-center">
              <div class="d-flex align-items-center gap-2">
                <div>spe:</div> <div class="bg-warning text-white m-2 p-2">{{ creatura.spe }}</div>
              </div>
            </div>
          </div>
          
    <div class = "row">
        <div class = "col">
            <div class="text-white m-2 p-2" [style.backgroundColor]="'#' + creatura.tipo1.color">{{ creatura.tipo1.nombre_tipo }}</div>
        </div>
        <div class = "col">
            <div class="text-white m-2 p-2" *ngIf="creatura.tipo2" [style.backgroundColor]="'#' + creatura.tipo2.color">{{ creatura.tipo2.nombre_tipo }}</div>
        </div>
    </div>
    <div class = "row">
        <div class = "col">
            <textarea class="form-control" id="comentario" rows="4" maxlength="200"
            placeholder="Escriba la descripción de su Creatura">{{ creatura.descripcion }}</textarea>
        </div>
    </div>
    <div class = "row">
      <table class="table table-bordered">
        <thead class= "table-dark">
          <tr>
            <th>Id</th>
            <th>Nombre</th>
            <th>Tipo</th>
            <th>Potencia</th>
            <th>Descricion</th>
            <th>Caregoria</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let moveset of movesets">
            <td>{{ moveset.id_habilidad }}</td>
            <td>{{ moveset.habilidad.nombre_habilidad }}</td>
            <td [style.backgroundColor]="'#' +  moveset.tipo.color">{{ moveset.tipo.nombre_tipo }}</td>
            <td>{{ moveset.habilidad.potencia }}</td>
            <td>{{ moveset.habilidad.descripcion }}</td>
            <td>{{ moveset.habilidad.categoria_habilidad }}</td>
            
          </tr>
        </tbody>
      </table>
    </div>

    </div>


 </div>


</div>


