<div class="cont-titular"> 
    <div class="titular">
        <div class="d-inline">Gestor de Habilidades</div>
      
          <button class="btn btn-dark ms-auto dropdown-toggle btn-titular" type="button" data-bs-toggle="dropdown" aria-expanded="false">
            Menú
          </button>
          <ul class="dropdown-menu">
            <a class="dropdown-item" routerLink="/agregarHabilidad">
                Nueva Habilidad
            </a>
            <li>
              <button class="dropdown-item" type="button">Importar Habilidad</button>
            </li>
  
            <a class="dropdown-item" routerLink="/gestorHabilidad">
              Listar Habilidades
            </a>
  
            
          </ul>
        
    </div>
</div>
