.main-nav{
    background-color: darkgray;
}

.nombre-usuario{
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

input::placeholder{
    color: rgb(170, 170, 170);
}

//pantalla grande
@media (min-width: 991.5px) {

    .inicio-sesion-boton{
        margin-right: 5px;
    }

    .campo-nu{
        max-width: 300px;
    }
}

//pantalla chica
@media (max-width: 991.5px) {

    .inicio-sesion-boton{
        margin-bottom: 5px;
    }

    .campo-nu{
        max-width: 55vw;
    }
}