<nav class="navbar navbar-expand-lg main-nav fixed-top">
    <div class="container-fluid">

        <a class="navbar-brand" routerLink="inicio">
            <img src="" alt="[Logo Pagina]">
        </a>
        
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarNav">
            <form class="navbar-collapse mt-2 mb-2">
                <div class="d-flex justify-content-center w-100">
                    <input #busquedaInput class="w-50 form-control me-2" type="search" placeholder="Buscar..." id = "busqueishon">
                    <button type="button" class="bi bi-search btn btn-dark" (click) = "buscarMomento(busquedaInput.value)"></button>
                </div>
            </form>

            <ul class="navbar-nav align-items-center" id="navbarList">

              <!-- Si hay usuario -->
              <li class="nav-item campo-nu" *ngIf="usuarioActual">
  <button class="btn btn-outline-light ms-2">
    <a class="nav-link" [routerLink]="['/ver_usuario', usuarioActual.nickname]">Perfil</a>
  </button>
  <button class="btn btn-outline-light ms-2" (click)="salir()">Salir</button>
</li>
            
              <!-- Si NO hay usuario -->
              <li class="nav-item" *ngIf="!usuarioActual">
                <button type="button" class="btn btn-dark inicio-sesion-boton me-2" data-bs-toggle="modal" data-bs-target="#iniciarSesionModal">
                  Iniciar Sesión
                </button>
                <button type="button" class="btn btn-dark" data-bs-toggle="modal" data-bs-target="#registroModal">
                  Registrarse
                </button>
              </li>
            
            </ul>
            
        </div>
    </div>
</nav>

<div class="modal fade" id="iniciarSesionModal" tabindex="-1" aria-labelledby="iniciarSesionModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="iniciarSesionModalLabel">Iniciar Sesión</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Cerrar"></button>
        </div>
        <div class="modal-body">
          <app-login></app-login>
          <p class="d-inline">Si aun no tienes cuenta puedes </p>
          <button type="button" class="boton-otro-modal" data-bs-toggle="modal" data-bs-target="#registroModal">
            Registrarte
          </button>
        </div>
      </div>
    </div>
  </div>

  <div class="modal fade" id="registroModal" tabindex="-1" aria-labelledby="registroModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="registroModalLabel">Registrar Usuario</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Cerrar"></button>
        </div>
        <div class="modal-body">
          <app-registrar-usuario></app-registrar-usuario>
          <p class="d-inline">Si ya tienes cuenta puedes </p>
          <button type="button" class="boton-otro-modal" data-bs-toggle="modal" data-bs-target="#iniciarSesionModal">
            Iniciar Sesión
          </button>
        </div>
      </div>
    </div>
  </div>
