<header class="cabecera-bar">

        <a class="navbar-brand" routerLink="inicio">
            <img src="logo.png" alt="[Logo Pagina]" class="logo">
        </a>

        <form>
              <input #busquedaInput type="search" placeholder="Buscar..." id = "busqueishon">
              <button type="button" class="bi bi-search" (click) = "buscarMomento(busquedaInput.value)"></button>
        </form>
        <div class="botones-usuario btn-usr-derecha">
          @if(usuarioActual){
            <a [routerLink]="['/ver_usuario', usuarioActual.nickname]">Perfil</a>
            <button (click)="salir()">Salir</button>
          }
          @if(!usuarioActual){
            <button type="button" data-bs-toggle="modal" data-bs-target="#iniciarSesionModal">
              Iniciar Sesión
            </button>
            <button type="button" data-bs-toggle="modal" data-bs-target="#registroModal">
              Registrarse
            </button>
          }
        </div>            
</header>

<div class="modal fade" id="iniciarSesionModal" tabindex="-1" aria-labelledby="iniciarSesionModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="iniciarSesionModalLabel">Iniciar Sesión</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Cerrar"></button>
        </div>
        <div class="modal-body">
          <app-login></app-login>
          <p class="d-inline">Si aun no tienes cuenta puedes </p>
          <button type="button" class="boton-otro-modal" data-bs-toggle="modal" data-bs-target="#registroModal">
            Registrarte
          </button>
        </div>
      </div>
    </div>
  </div>

  <div class="modal fade" id="registroModal" tabindex="-1" aria-labelledby="registroModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="registroModalLabel">Registrar Usuario</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Cerrar"></button>
        </div>
        <div class="modal-body">
          <app-registrar-usuario></app-registrar-usuario>
          <p class="d-inline">Si ya tienes cuenta puedes </p>
          <button type="button" class="boton-otro-modal" data-bs-toggle="modal" data-bs-target="#iniciarSesionModal">
            Iniciar Sesión
          </button>
        </div>
      </div>
    </div>
  </div>
