.dropdown-item:active{
    background-color: rgb(167, 167, 167);
    color: black;
}

.habilidades{
    padding: 15px 0;
   // margin-bottom: 1000px;
    overflow-x: auto;
}

table{
    width: 100%;
    border-collapse: collapse;
}

table img{
  max-width: 25px;
  max-height: 25px;
  min-width: 25px;
  min-height: 25px;
  margin-right: 5px;
}

th{
    background-color: darkgray;
    color: black;
    padding: 8px;
    text-align: left;
    font-size: 16px;
    text-align: center;
    position: sticky;
    top: 0;
    z-index: 1;
}

td{
    text-align: left;
    border-bottom: 1px solid #ddd;
    font-size: 14px;
    text-align: center;
    height: 40px;
}

td[style]{
    color: white;
    font-weight: bold;
}

tr:nth-child(odd){
    background-color: white;
}

tr:nth-child(even){
    background-color: #ebebeb;
}
.margen{
    margin-bottom: 600px;
}