<div class="habilidades">
      <table>
        <thead>
            <tr>
                <th>Nombre</th>
                <th>Tipo</th>
                <th>Categoría</th>
                <th>Potencia</th>
                <th>Descripción</th>
                <th>Creador</th>
                <th>Acciones</th>
            </tr>
        </thead>
        <tbody>
  <!-- ARRANCA EL LISTADO-->

          @for(habilidad of paginadas; track $index){
          <tr>

            <td id = "nombreHab">
              <strong>
                {{ habilidad.nombre_habilidad }}
              </strong>
            </td>

            <td id = "nombreTipo" [style.background-color]="'#' + habilidad.tipo.color">
              <img [src]="habilidad.tipo.icono_base64" (error)="onImgError($event)" alt="{{ habilidad.icono_tipo }}">
              {{ habilidad.tipo.nombre }}
            </td>

            <td id="potencia">
              {{ habilidad.categoria_habilidad }}
            </td>

            <td id="potencia">
              {{ habilidad.potencia }}
            </td>

            <td id = "Descripcion">
              {{ habilidad.descripcion }}
            </td>

            <td id = "creador">
              {{ habilidad.creador }}
            </td>

            <td>
              <button class="btn btn-dark btn-sm dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                  ...
              </button>
              <ul class="dropdown-menu">
                <li>
                  <a class="dropdown-item" routerLink="/modificarHabilidad" 
                    [queryParams]= "{idHabilidad:habilidad.id_habilidad}">
                    Modificar Habilidad
                  </a>
                </li>
                <li>
                  <button class="dropdown-item" type="button" (click)="mostrarJSHabilidad(habilidad.id_habilidad)">Exportar</button>
                </li>
                <li>
                  <button class="dropdown-item" type="button" (click)="eliminarHabilidad(habilidad.id_habilidad)">Eliminar</button>
                </li>
              </ul>
            </td>
          </tr>
          }

        </tbody>
      </table>
      <!-- TERMINA EL LISTADO-->
      <mat-paginator  [length]="habilidades.length"
              [pageSize]="8"
              [pageSizeOptions]="[8, 16, 32, 8954]"
              aria-label="Select page"
              (page)="paginar($event)">
</mat-paginator>

</div>
<div *ngIf = "habilidades.length === 0" class="margen"></div>
