.cont-titular{
    background-color: lightslategray;
}

.titular{
    font-size: x-large;
    font-weight: 500;
    margin-right: 5px;
}

.contenido-creatura{
    min-width: 300px;
    min-height: 400px;
    max-width: 300px;
    max-height: 400px;
}

.contenido-creatura img{
    user-select: none;
    border: 1px solid black;
    min-width: 280px;
    min-height: 280px;
    max-width: 280px;
    max-height: 280px;
}

.nombre, .creador{
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.tipos{
    border-bottom: 1px solid black;
}

.tipos img{
    user-select: none;
    min-width: 35px;
    min-height: 35px;
    max-width: 35px;
    max-height: 35px;
}

.contenido-usuario{
    min-width: 200px;
    min-height: 235px;
    max-width: 200px;
    max-height: 235px;
}

.contenido-usuario img{
    user-select: none;
    border: 1px solid black;
    min-width: 185px;
    min-height: 185px;
    max-width: 185px;
    max-height: 185px;
}

.contenido-creatura, .contenido-usuario{
    background-color: lightgray;
}