    <div class="cont-titular"> 
        <div class="titular">
            <div>Creaturas del Sistema</div>
            <a routerLink="/listadoCreaturasSystem">Ver Más</a>
        </div>
    </div>
    <div class="contenedor-creaturas">
        @for (creatura of creaturas; track $index){
        <div class="contenido-creatura">
            <a routerLink="/mostrarCreatura" 
               [queryParams]= "{idCreatura:creatura.id_creatura}">
                <div class="imagen-creatura">
                    <img [src]="creatura.imagen" (error)="onImgErrorCreatura($event)" draggable="false" [alt]="creatura.nombre_creatura">
                </div>
                <div class="nombre-creatura">
                    {{ creatura.nombre_creatura }}
                </div>
                <div class="tipos">
                    <img [src]="creatura.tipo1.icono" draggable="false" [alt]="creatura.tipo1.nombre_tipo" [style.backgroundColor]="'#' + creatura.tipo1.color">
                    <img [src]="creatura.tipo2.icono" draggable="false" [alt]="creatura.tipo2.nombre_tipo" [style.backgroundColor]="'#' + creatura.tipo2.color" onerror="this.style.display='none';">
                </div>
                <div class="creador-creatura">
                    Creador: {{ creatura.creador }}
                </div>
            </a>
        </div>
        }
    </div>
    
    <div class="cont-titular"> 
        <div class="titular">
            <div >Usuarios</div>
            <a routerLink="/listadoUsuarios">Ver Más</a>
        </div>
    </div>
    <div class="contenedor-usuarios">
        @for (usuario of usuarios; track $index){
        <div class="contenido-usuario">
            <a [routerLink]="['/ver_usuario', usuario.nickname]">
                <div class="imagen-usuario">
                    <img [src]="usuario.foto" (error)="onImgErrorUsuario($event)" draggable="false" [alt]="usuario.nickname">
                </div>
                <div class="nombre-usuario">
                    {{usuario.nickname}}
                </div>
            </a>
        </div>
        }
    </div>