<div class="cont-titular d-flex align-items-center"> 
    <div class="titular p-2 w-100 d-flex">
        <div class="d-inline">Creaturas Default</div>
        <a class="btn btn-dark ms-auto">Ver Más</a>
    </div>
</div>

<div class="d-flex flex-wrap justify-content-around">
    @for (creatura of creaturas; track $index){
    <div class="contenido-creatura m-2">
        <a>
            <div class="text-center">
                <img [src]="creatura.imagen" (error)="onImgError($event)" alt="{{ creatura.nombre }}" class="my-2" draggable="false" alt="[Imagen Creatura]">
            </div>
            <div class="px-2 text-center nombre-crea-list">
                {{ creatura.nombre_creatura }}
            </div>
            <div class="tipos pt-2 pb-1 text-center">
                <img [src]="creatura.tipo1.icono" class="" draggable="false" [alt]="creatura.tipo1.nombre_tipo" [style.backgroundColor]="'#' + creatura.tipo1.color">
                <img [src]="creatura.tipo2.icono" class="ms-2" draggable="false" [alt]="creatura.tipo2.nombre_tipo" [style.backgroundColor]="'#' + creatura.tipo2.color">
            </div>
        </a>
        <div class="creador-crea-list text-center mt-1 px-2">
            Creador: {{ creatura.creador }}
        </div>
    </div>
    }
    
</div>

<div class="cont-titular d-flex align-items-center"> 
    <div class="titular p-2 w-100 d-flex">
        <div class="d-inline">Usuarios</div>
        <a class="btn btn-dark ms-auto">Ver Más</a>
    </div>
</div>

<div class="d-flex flex-wrap justify-content-around">
    
    <div class="contenido-usuario m-2">
        <a>
            <div class="text-center">
                <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcScrT2sPvbG6inLDX0KrcaJCg5JUThKUpGV7w&s" class="my-2" draggable="false" alt="[Imagen otro Usuario]">
            </div>
            <div class="px-1 text-center nombre-user-list">
                [Nombre otro Usuario][Nombre otro Usuario][Nombre otro Usuario][Nombre otro Usuario]
            </div>
        </a>
    </div>

</div>