
<div  *ngIf="mostrarNormal">
    <div class="cont-titular"> 
        <div class="titular">
            <div>Resultados de la Busqueda</div>
            <button onclick="history.back();">Volver</button>
        </div>
    </div>

    <div class="cont-mini-titular"> 
        <div class="mini-titular">
            <div>Creaturas del Sistema Encontradas</div>
        </div>
    </div>
    <div class="contenedor-creaturas">
        @for (creatura of creaturas; track $index){
        <div class="contenido-creatura">
            <a routerLink="/mostrarCreatura" 
            [queryParams]= "{idCreatura:creatura.id_creatura}">
                <div class="imagen-creatura">
                    <img [src]="creatura.imagen" (error)="onImgErrorCreatura($event)" draggable="false" [alt]="creatura.nombre_creatura">
                </div>
                <div class="nombre-creatura">
                    {{ creatura.nombre }}
                </div>
                <div class="tipos">
                    <img [src]="creatura.tipo1.icono" draggable="false" [alt]="creatura.tipo1.nombre_tipo">
                    <img class="tipo2" [src]="creatura.tipo2.icono" draggable="false" [alt]="creatura.tipo2.nombre_tipo" onerror="this.style.display='none';">
                </div>
                <div class="creador-creatura">
                    Creador: {{ creatura.creador }}
                </div>
            </a>
        </div>
        }


    </div>
    <div class="x-large" *ngIf="error || creaturas.length === 0">No se encontraron creaturas del sistema que coincidan con tu busqueda.</div>

    <div class="cont-mini-titular"> 
        <div class="mini-titular">
            <div>Creaturas de Usuarios Encontradas</div>
        </div>
    </div>
    <div class="contenedor-creaturas">
        @for (creatura of creaturasDeUsuarios; track $index){
        <div class="contenido-creatura">
            <a routerLink="/mostrarCreatura" 
            [queryParams]= "{idCreatura:creatura.id_creatura}">
                <div class="imagen-creatura">
                    <img [src]="creatura.imagen" (error)="onImgErrorCreatura($event)" draggable="false" [alt]="creatura.nombre_creatura">
                </div>
                <div class="nombre-creatura">
                    {{ creatura.nombre }}
                </div>
                <div class="tipos">
                    <img [src]="creatura.tipo1.icono" draggable="false" [alt]="creatura.tipo1.nombre_tipo">
                    <img class="tipo2" [src]="creatura.tipo2.icono" draggable="false" [alt]="creatura.tipo2.nombre_tipo" onerror="this.style.display='none';">
                </div>
                <div class="creador-creatura">
                    Creador: {{ creatura.creador }}
                </div>
            </a>
        </div>
        }
        
    </div>
    <div class="x-large" *ngIf="error || creaturasDeUsuarios.length === 0">No se encontraron creaturas de usuarios que coincidan con tu busqueda.</div>
    
    <div class="cont-mini-titular"> 
        <div class="mini-titular">
            <div>Usuarios Encontrados</div>
        </div>
    </div>
    <div class="contenedor-usuarios">
        @for (usuario of usuarios; track $index){
        <div class="contenido-usuario">
            <a class="nav-link" [routerLink]="['/ver_usuario', usuario.nickname]">
                <div class="imagen-usuario">
                    <img [src]="usuario.foto" (error)="onImgErrorUsuario($event)" draggable="false" [alt]="usuario.nickname">
                </div>
                <div class="nombre-usuario">
                    {{usuario.nickname}}
                </div>
            </a>
        </div>
        }
        
    </div>
    <div class="x-large" *ngIf="error || usuarios.length === 0">No se encontraron usuarios que coincidan con tu busqueda.</div>
</div>

<div  *ngIf="!mostrarNormal">
    <div class="cont-mini-titular"> 
        <div class="mini-titular">
            <div>Creaturas del tipo específico encontradas</div>
        </div>
    </div>
    <div class="contenedor-creaturas">
        @for (creatura of creaturasTipo; track $index){
        <div class="contenido-creatura">
            <a routerLink="/mostrarCreatura" 
            [queryParams]= "{idCreatura:creatura.id_creatura}">
                <div class="imagen-creatura">
                    <img [src]="creatura.imagen" (error)="onImgErrorCreatura($event)" draggable="false" [alt]="creatura.nombre_creatura">
                </div>
                <div class="creador-creatura">
                    {{ creatura.nombre }}
                </div>
                <div class="tipos">
                    <img [src]="creatura.tipo1.icono" draggable="false" [alt]="creatura.tipo1.nombre_tipo" >
                    <img class="tipo2" [src]="creatura.tipo2.icono" draggable="false" [alt]="creatura.tipo2.nombre_tipo" onerror="this.style.display='none';">
                </div>
                <div class="creador-creatura">
                    Creador: {{ creatura.creador }}
                </div>
            </a>
        </div>
        }
    </div>
</div>