<div class="cont-titular"> 
    <div class="titular">
        <div>Información del Usuario</div>
        <button class="btn-titular" onclick="history.back();">Volver</button>
    </div>
</div>

<form [formGroup]="registroForm" (ngSubmit)="onSubmit()">
  <div class="contenido-usuario">
    <div class="imagen">
      <label for="fotoPerfil">Nueva Foto de Perfil (opcional)</label>
      <input id="fotoPerfil" type="file" (change)="onFileChange($event)" />
      <img *ngIf="usuarioLogueado?.foto" [src]="imagen_usuario" alt="creaturaIMG" id="img_vieja">
    </div>
    <div class="info-personal">
      <label for="nickname">Nickname</label>
      <input
        id="nickname"
        formControlName="nickname"
        style="background-color: #e9ecef; color: #6c757d;"
        [ngClass]="{
          'is-invalid': registroForm.get('nickname')?.invalid && registroForm.get('nickname')?.touched
        }"
        readonly
        maxlength="30"
      />
      <div *ngIf="registroForm.get('nickname')?.touched && registroForm.get('nickname')?.errors" class="invalid-feedback">
        <div *ngIf="registroForm.get('nickname')?.errors?.['required']">
          El nickname es obligatorio.
        </div>
      </div>
      <label for="correo">Correo</label>
      <input
        id="correo"
        type="email"
        formControlName="correo"
        style="background-color: #e9ecef; color: #6c757d;"
        [ngClass]="{
          'is-invalid': registroForm.get('correo')?.invalid && registroForm.get('correo')?.touched
        }"
        readonly
        maxlength="30"
      />
      <div *ngIf="registroForm.get('correo')?.touched && registroForm.get('correo')?.errors" class="invalid-feedback">
        <div *ngIf="registroForm.get('correo')?.errors?.['required']">
          El correo es obligatorio.
        </div>
        <div *ngIf="registroForm.get('correo')?.errors?.['email']">
          El correo no es válido.
        </div>
      </div>

      <label for="biografia">Biografía (Opcional)</label>
      <input maxlength="200" id="biografia" formControlName="biografia">

      <label for="contra">Nueva Contraseña (Opcional)</label>
      <input  maxlength="30" type="password" id="contra" formControlName="contra">

      <label for="ver_contra" >Verificar Nueva Contraseña</label>
      <input maxlength="30" type="password" id="ver_contra" formControlName="ver_contra" >

      <button type="submit" [disabled]="registroForm.invalid">
        Modificar
      </button>
    </div>
  </div>
  </form>
  

<app-pie-pagina></app-pie-pagina>