<div class="cont-titular"> 
    <div class="titular">
        <div>Otros Creadores de Creaturas</div>
        <button onclick="history.back();">Volver</button>
    </div>
</div>
<div class="contenedor-usuarios">
    @for (usuario of usuarios; track $index){
    <div class="contenido-usuario">
        <a class="nav-link" [routerLink]="['/ver_usuario', usuario.nickname]">
            <div class="imagen-usuario">
                <img [src]="usuario.foto" (error)="onImgErrorUsuario($event)" draggable="false" [alt]="usuario.nickname">
            </div>
            <div class="nombre-usuario">
                {{usuario.nickname}}
            </div>
        </a>
    </div>
    }
</div>