<div class="cont-titular d-flex align-items-center"> 
    <div class="titular p-2 w-100 d-flex">
        <div class="d-inline">Usuarios</div>
    </div>
</div>

<div class="d-flex flex-wrap justify-content-around">
    @for (usuario of paginados; track $index){
    <div class="contenido-usuario m-2">
        <a class="nav-link" [routerLink]="['/ver_usuario', usuario.nickname]">
            <div class="text-center">
                <img [src]="usuario.foto" (error)="onImgErrorUsuario($event)" class="my-2" draggable="false" [alt]="usuario.nickname">
            </div>
            <div class="px-1 text-center nombre-user-list">
                {{usuario.nickname}}
            </div>
        </a>
    </div>
    }
</div>
<mat-paginator  [length]="usuarios.length"
              [pageSize]="8"
              [pageSizeOptions]="[8, 16, 32, 8954]"
              aria-label="Select page"
              (page)="paginar($event)">
</mat-paginator>