<div class="cont-titular d-flex align-items-center"> 
    <div class="titular p-2 w-100 d-flex">
        <div class="d-inline">Gestor de Creaturas</div>
      
          <button class="btn btn-dark ms-auto dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
            Menú
          </button>
          <ul class="dropdown-menu">
            <a class="nav-link" routerLink="/agregarCreatura">
                <li>
                  <button class="dropdown-item" type="button">Nueva Creatura</button>
                </li>
            </a>
            <li>
              <button class="dropdown-item" type="button">Importar Creatura</button>
            </li>
  
            <a class="nav-link" routerLink="/gestorCreatura">
            <li>
              <button class="dropdown-item" type="button">Listar Creatura</button>
            </li>
            </a>
  
            
          </ul>
        
    </div>
</div>
