<footer class="pie-pagina">
    <img class="img-footer" src="UTEC_logo.png" alt="Logo UTEC">
    <div class="division-footer div-foot">
        <ul class="listado-footer">
            <li><strong>Tecnólogo en Informática</strong></li>
            <li><strong>Taller de Aplicaciones de Internet Ricas</strong></li>
            <li>Docente: <strong>José Brito</strong></li>
        </ul>
    </div>
    <div class="division-footer">
        <h3>Integrantes</h3>
        <ul class="listado-footer">
            <li><strong>Andrés Ferreira</strong> - 5.529.445-0</li>
            <li><strong>Facundo Guerra</strong> - 5.619.400-1</li>
            <li><strong>Martín Mainentti</strong> - 5.488.144-0</li>
            <li><strong>Manuel Escudero</strong> - 5.162.219-8</li>
        </ul>
    </div>
</footer>