<div *ngIf="informacion_usuario">
  ============================ PERFIL =================================<br>
  Nickname : {{ informacion_usuario.usuario.nickname }}<br>
  Correo : {{ informacion_usuario.usuario.correo }}<br>
  Biografia : {{ informacion_usuario.usuario.biografia }}<br>
  <img [src]="informacion_usuario.usuario.foto" style="max-width: 150px; max-height: 150px;"><br>
<div *ngIf="informacion_usuario.usuario.nickname == usuarioLogueado.nickname">
  <button class="btn btn-outline-light ms-2">
    <a class="nav-link" [routerLink]="['/modificar_usuario', usuarioLogueado.nickname]">Modificar</a>
    <a class="nav-link text-danger" (click)="eliminarUsuario()">Eliminar</a>
  </button>
</div>
</div>


<div *ngIf="creaturas?.creaturas && creaturas.creaturas.length > 0">
============================ CREATURAS =================================<br>
<div class="d-flex flex-wrap justify-content-around">
  @for (creatura of paginadas; track $index){
  <div class="contenido-creatura m-2">
      <a class="nav-link" routerLink="/mostrarCreatura" 
             [queryParams]= "{idCreatura:creatura.id_creatura}">
          <div class="text-center">
              <img [src]="creatura.imagen" (error)="onImgError($event)" class="my-2" draggable="false" [alt]="creatura.nombre_creatura">
          </div>
          <div class="px-2 text-center nombre-crea-list">
              {{ creatura.nombre}}
          </div>
          <div class="tipos pt-2 pb-1 text-center">
              <img [src]="creatura.tipo1.icono" class="" draggable="false" [alt]="creatura.tipo1.nombre_tipo" [style.backgroundColor]="'#' + creatura.tipo1.color">
              <img [src]="creatura.tipo2.icono" class="ms-2" draggable="false" [alt]="creatura.tipo2.nombre_tipo" [style.backgroundColor]="'#' + creatura.tipo2.color">
          </div>
      </a>
      <div class="creador-crea-list text-center mt-1 px-2">
          Creador: {{ creatura.creador }}
      </div>
  </div>
  }
  
</div>
<mat-paginator  [length]="creaturas.creaturas.length"
            [pageSize]="8"
            [pageSizeOptions]="[8, 16, 32, 8954]"
            aria-label="Select page"
            (page)="paginar($event)">
</mat-paginator>
</div>

<!-- Mostrar un mensaje si no hay creaturas -->
<div *ngIf="creaturas?.creaturas?.length === 0">
  <p>Este usuario no tiene creaturas registradas.</p>
</div>

<app-pie-pagina></app-pie-pagina>
