<div class="cont-titular"> 
    <div class="titular">
        <div>Información del Usuario</div>
        <button class="btn-titular" onclick="history.back();">Volver</button>
    </div>
</div>

@if(informacion_usuario){
  <div class="contenido-usuario">
    <img [src]="informacion_usuario.usuario.foto">
    <div class="info-personal">
      <h2>{{ informacion_usuario.usuario.nickname }}</h2>
      <p>{{ informacion_usuario.usuario.correo }}</p>
      <p><strong>Biografia:</strong> {{ informacion_usuario.usuario.biografia }}</p>
      @if(informacion_usuario.usuario.nickname == usuarioLogueado.nickname){
        <div>
          <a [routerLink]="['/modificar_usuario', usuarioLogueado.nickname]">Modificar</a>
          <a href="#" (click)="eliminarUsuario()">Eliminar</a>
        </div>
      }
    </div>
  </div>
}

<div *ngIf="creaturas?.creaturas && creaturas.creaturas.length > 0">
<div class="cont-titular"> 
    <div class="titular">
        <div>Creaturas del Usuario</div>
    </div>
</div>

<div class="contenedor-creaturas">
  @for (creatura of paginadas; track $index){
  <div class="contenido-creatura">
      <a class="nav-link" routerLink="/mostrarCreatura" 
             [queryParams]= "{idCreatura:creatura.id_creatura}">
        <div class="imagen-creatura">
            <img [src]="creatura.imagen" (error)="onImgError($event)" draggable="false" [alt]="creatura.nombre_creatura">
        </div>
        <div class="nombre-creatura">
            {{ creatura.nombre}}
        </div>
        <div class="tipos">
            <img [src]="creatura.tipo1.icono" draggable="false" [alt]="creatura.tipo1.nombre_tipo">
            <img *ngIf= "creatura.tipo2.id_tipo !== 0" class="tipo2" [src]="creatura.tipo2.icono" draggable="false" [alt]="creatura.tipo2.nombre_tipo">
        </div>
      </a>
  </div>
  }
</div>
<mat-paginator  [length]="creaturas.creaturas.length"
            [pageSize]="8"
            [pageSizeOptions]="[8, 16, 32, 8954]"
            aria-label="Select page"
            (page)="paginar($event)">
</mat-paginator>
</div>

<!-- Mostrar un mensaje si no hay creaturas -->
<div *ngIf="creaturas?.creaturas?.length === 0">
  <p>Este usuario no tiene creaturas registradas.</p>
</div>

<app-pie-pagina></app-pie-pagina>
