<div class="ngif" *ngIf="creatura">




  <div class="cont-titular"> 
      <div class="titular">
          <div>Información de la Creatura</div>
          <button class="btn-titular" onclick="history.back();">Volver</button>
      </div>
  </div>

  <div class="contenido-creatura">
    <img [src]="creatura.imagen" (error)="onImgError($event)" alt="creaturaIMG">
    <div class="info-creatura">
      <div class="rycc">
        <div class="creador-creatura">
          <h2> {{creatura.nombre_creatura}} </h2>
          <p>Hecho por <strong> {{creatura.creador}} </strong></p>
        </div>
        <div class="rating">
          <p>¡Puntua a esta Creatura!</p>  
          <i *ngFor="let star of stars; index as i"
            [ngClass]="{
              'bi-star-fill text-warning': i < rating,
              'bi-star text-secondary': i >= rating,
              'cursor-pointer': !barraRateBlock,
              'opacity-50': barraRateBlock
            }"
            [style.cursor]="barraRateBlock ? 'default' : 'pointer'"
            (click)="ratingMomento(i + 1)"
            style="font-size: 2rem; cursor: pointer;">
          </i>
        </div>
      </div>
      <p>Puntuación de la Creatura: <strong>{{creturaRating}}/5</strong></p>
      <div class="tipos-creatura">
        <div [style.backgroundColor]="'#' + creatura.tipo1?.color">
          <img [src]="creatura.tipo1.icono" class = "tipos-img">
           {{creatura.tipo1.nombre_tipo}}</div>
        <div [style.backgroundColor]="'#' + creatura.tipo2?.color">
          <img [src]="creatura.tipo2.icono" class = "tipos-img">
           {{creatura.tipo2.nombre_tipo}}</div>
      </div>
      <p><strong>Descrición:</strong> {{creatura.descripcion}} </p>
      <div class="stats">
        <p>Estadísticas: </p>
        <strong>HP </strong>
        <div class="barra" #statBar data-max-value="255" data-type="HP">
          <div class="barra-inner">
            <div>{{creatura.hp}}</div>
          </div>
        </div>

        <strong>ATK </strong>
        <div class="barra" #statBar data-max-value="255" data-type="ATK">
          <div class="barra-inner">
            <div>{{creatura.atk}}</div>
          </div>
        </div>

        <strong>DEF </strong>
        <div class="barra" #statBar data-max-value="255" data-type="DEF">
          <div class="barra-inner">
            <div>{{creatura.def}}</div>
          </div>
        </div>

        <strong>SPA </strong>
        <div class="barra" #statBar data-max-value="255" data-type="SPA">
          <div class="barra-inner">
            <div>{{creatura.spa}}</div>
          </div>
        </div>

        <strong>SDEF </strong>
        <div class="barra" #statBar data-max-value="255" data-type="SDEF">
          <div class="barra-inner">
            <div>{{creatura.sdef}}</div>
          </div>
        </div>

        <strong>SPE </strong>
        <div class="barra" #statBar data-max-value="255" data-type="SPE">
          <div class="barra-inner">
            <div>{{creatura.spe}}</div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="cont-titular"> 
    <div class="titular">
      <div>Interacciones Defensivas</div>
    </div>
  </div>

  <div class="defensas">
    @if(calculoDefMuyEff && calculoDefMuyEff.length > 0){
      <h3>Muy débil (x4)</h3>
      <div class="multiplicador">
        @for(tipo of calculoDefMuyEff; track $index){
          <div [style.backgroundColor]="'#' + tipo.color">
            <img [src]="tipo.icono" class = "tipos-img">
            {{ tipo.nombre_tipo }}</div>
        }
      </div>
    }
    @if(calculoDefEff && calculoDefEff.length > 0){
      <h3>Débil (x2)</h3>
      <div class="multiplicador">
        @for(tipo of calculoDefEff; track $index){
          <div [style.backgroundColor]="'#' + tipo.color">
            <img [src]="tipo.icono" class = "tipos-img">
            {{ tipo.nombre_tipo }}</div>
        }
      </div>
    }
    @if(calculoDefNeu && calculoDefNeu.length > 0){
      <h3>Neutro (x1)</h3>
      <div class="multiplicador">
        @for(tipo of calculoDefNeu; track $index){
          <div [style.backgroundColor]="'#' + tipo.color">
            <img [src]="tipo.icono">
            {{ tipo.nombre_tipo }}</div>
        }
      </div>
    }
    @if(calculoDefNoEff && calculoDefNoEff.length > 0){
      <h3>Resistente (x0.5)</h3>
      <div class="multiplicador">
        @for(tipo of calculoDefNoEff; track $index){
          <div [style.backgroundColor]="'#' + tipo.color">
            <img [src]="tipo.icono" class = "tipos-img">
            {{ tipo.nombre_tipo }}</div>
        }
      </div>
    }
    @if(calculoDefMuyNoEff && calculoDefMuyNoEff.length > 0){
      <h3>Muy Resistente (x0.25)</h3>
      <div class="multiplicador">
        @for(tipo of calculoDefMuyNoEff; track $index){
          <div [style.backgroundColor]="'#' + tipo.color">
            <img [src]="tipo.icono" class = "tipos-img">
            {{ tipo.nombre_tipo }}</div>
        }
      </div>
    }
    @if(calculoDefInmune && calculoDefInmune.length > 0){
      <h3>Inmune (x0)</h3>
      <div class="multiplicador">
        @for(tipo of calculoDefInmune; track $index){
          <div [style.backgroundColor]="'#' + tipo.color">
            <img [src]="tipo.icono" class = "tipos-img">
            {{ tipo.nombre_tipo }}</div>
        }
      </div>
    }
    
    
  </div>

  <div class="cont-titular">
      <div class="titular">
          <div>Habilidades que Puede Aprender</div>
      </div>
  </div>

  <div class="habilidades">
    <table>
        <thead>
          <tr>
            <th>Nombre</th>
            <th>Tipo</th>
            <th>Categoría</th>
            <th>Potencia</th>
            <th>Descrición</th>
            <th>Creador</th>
          </tr>
        </thead>
        <tbody>
          @for(moveset of movesets; track $index){
            <tr>
              <td>{{ moveset.nombre_habilidad }}</td>
              <td [style.backgroundColor]="'#' +  moveset.color_tipo_habilidad">{{ moveset.nombre_tipo_habilidad }}</td>
              <td>{{ moveset.categoria_habilidad }}</td>
              <td>{{ moveset.potencia }}</td>
              <td>{{ moveset.descripcion }}</td>
              <td>{{ moveset.creador }}</td>
            </tr>
          }
        </tbody>
      </table>
  </div>

</div>

<app-pie-pagina></app-pie-pagina>

<!--
Necesito de algo como esto para que carguen las barras, y no sé adaptarlo a este proyecto

function getColor(valor) {
    let r, g, b;

    if (valor <= 50) {
        const factor = valor / 50;
        r = 255;
        g = Math.round(165 * factor);
        b = 0;
    } else if (valor <= 80) {
        const factor = (valor - 40) / 40;
        r = 255;
        g = Math.round(175 + (90 * factor));
        b = 0;
    } else if (valor <= 110) {
        const factor = (valor - 80) / 30;
        r = Math.round(255 * (1 - factor));
        g = 255;
        b = 0;
    } else {
        const factor = (valor - 110) / 145;
        r = Math.round(0 + (100 * factor));
        g = Math.round(255 - (35 * factor));
        b = Math.round(0 + (255 * factor));
    }

    return `rgb(${r}, ${g}, ${b})`;
}

    window.onload = function () {
        const barras = document.querySelectorAll('.barra');

        barras.forEach(function (barra) {
            const value = parseInt(barra.getAttribute('data-value'));
            const maxValue = parseInt(barra.getAttribute('data-max-value'));

            const porcentaje = (value / maxValue) * 100;

            const barraInner = barra.querySelector('.barra-inner');
            barraInner.style.width = porcentaje + '%';
            barraInner.style.backgroundColor = getColor(value);
        });
    };

-->