<div class="cont-titular"> 
    <div class="titular">
        <div>Creaturas del Sistema</div>
        <button onclick="history.back();">Volver</button>
    </div>
</div>

<div class="contenedor-creaturas">
    @for (creatura of creaturas; track $index){
    <div class="contenido-creatura">
        <a routerLink="/mostrarCreatura" 
               [queryParams]= "{idCreatura:creatura.id_creatura}">
            <div class="imagen-creatura">
                <img [src]="creatura.imagen" (error)="onImgErrorCreatura($event)" draggable="false" [alt]="creatura.nombre_creatura">
            </div>
            <div class="nombre-creatura">
                {{ creatura.nombre_creatura }}
            </div>
            <div class="tipos">
                <img [src]="creatura.tipo1.icono" draggable="false" [alt]="creatura.tipo1.nombre_tipo">
                <img class="tipo2" [src]="creatura.tipo2.icono" draggable="false" [alt]="creatura.tipo2.nombre_tipo" onerror="this.style.display='none';">
            </div>
            <div class="creador-creatura">
                Creador: {{ creatura.creador }}
            </div>
        </a>
    </div>
    }
    
</div>