.col-custom {

    max-width: 400px;
    min-width: 400px;
    height: auto;
  }
  .img-ajustada {
    width: 100%;       /* ocupa todo el ancho del contenedor */
    height: 241px;     /* altura fija */
    object-fit: fill;  /* estira la imagen para rellenar */
    display: block;    /* elimina espacios blancos debajo de la imagen */
  }
  .row-custom{

    //height: 600px;
  }
  .bg-sexo{
background-color: rgb(186, 255, 241);
  }

  .dropdown {
    position: relative;
    z-index: 10; // Asegura que esté encima
  }
  
  .dropdown-menu {
    z-index: 9999; // Muy alto para no ser tapado
  }