

<div class="container bg-dark">
  <div class="row row-custom justify-content-center">

  <!-- ARRANCA EL LISTADO-->


      <div class="col-custom bg-primary text-white m-2 p-2" *ngFor="let creatura of creaturas">
        <a class="nav-link" routerLink="/mostrarCreatura" 
        [queryParams]= "{idCreatura:creatura.id_creatura}">
        <img [src]="creatura.imagen" (error)="onImgError($event)" alt="{{ creatura.nombre }}" class="figure-img d-block align-self-start img-ajustada">
      </a>
          <div class = "bg-sexo">
            <figcaption class="figure-caption d-flex justify-content-between">
                <div id = "nombreCrea">{{ creatura.nombre }}</div>
              <div class="dropdown">
                <button class="btn btn-primary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                  ...
                </button>
                 <ul class="dropdown-menu">
                      <a class="nav-link" routerLink="/modificarCreatura" 
                      [queryParams]= "{idCreatura:creatura.id_creatura}">
                        <li>
                          <button class="dropdown-item" type="button">Modificar Creatura</button>
                        </li>
                      </a>

                      <li>
                        <button class="dropdown-item" type="button">Publicar/Ocultar</button>
                      </li>
                      <li>
                        <button class="dropdown-item" type="button" (click)="mostrarJScreatura(creatura.id_creatura)">Exportar</button>
                      </li>
                      <li>
                        <button class="dropdown-item" type="button" (click)="eliminarCreatura(creatura.id_creatura)">Eliminar</button>
                      </li>
                </ul>
              </div>
            </figcaption>
            <figcaption class="figure-caption d-flex justify-content gap-2">
                <div [style.backgroundColor]="'#' + creatura.tipo1.color">
                  <div id="tipo1">{{ creatura.tipo1.nombre_tipo }}</div>
                </div>
                <div *ngIf="creatura.tipo2" [style.backgroundColor]="'#' + creatura.tipo2.color">
                      <div id = "tipo2" >{{ creatura.tipo2.nombre_tipo }} </div>
                </div>

            </figcaption>
            <figcaption class="figure-caption d-flex justify-content">
                Creador:
                <div id = "creador">{{ creatura.creador }}</div>
            </figcaption>
            
          </div>  

      </div>

    <!-- TERMINA EL LISTADO-->
</div>

</div>
